site_name: HTTPX WS

repo_url: https://github.com/frankie567/httpx-ws
repo_name: frankie567/httpx-ws

theme:
    name: material
    icon:
        logo: octicons/arrow-switch-16
    favicon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M5.22 14.78a.75.75 0 0 0 1.06-1.06L4.56 12h8.69a.75.75 0 0 0 0-1.5H4.56l1.72-1.72a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3zm5.56-6.5a.75.75 0 1 1-1.06-1.06l1.72-1.72H2.75a.75.75 0 0 1 0-1.5h8.69L9.72 2.28a.75.75 0 0 1 1.06-1.06l3 3a.75.75 0 0 1 0 1.06l-3 3z'%3E%3C/path%3E%3C/svg%3E"
    palette:
        # Palette toggle for automatic mode
        - media: "(prefers-color-scheme)"
          toggle:
            icon: material/brightness-auto
            name: Switch to light mode

        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: deep orange
          accent: deep orange
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: deep orange
          accent: deep orange
          toggle:
              icon: material/brightness-4
              name: Switch to light mode

    features:
        - navigation.tracking
        - navigation.sections

markdown_extensions:
    - toc:
          permalink: true
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences

plugins:
    - search
    - mkdocstrings:
          handlers:
              python:
                  import:
                      - https://docs.python.org/3.8/objects.inv
                      - https://python-hyper.org/projects/wsproto/en/stable/objects.inv
                  options:
                      docstring_style: google

watch:
    - httpx_ws

nav:
    - About: index.md
    - Usage:
          - Quickstart: usage/quickstart.md
          - Subprotocols: usage/subprotocols.md
          - Testing ASGI: usage/asgi.md
    - Reference:
        - httpx_ws: reference/httpx_ws.md
